<!-- views/projects.hbs -->
<section id="projects" class="projects">
    <h2>Projects</h2>
    <div class="project-list">
        <div class="project-card">
            <h3>Pizza Palace website</h3>
            <p>It was an assignment in my first semester to make a website named Pizza Palace. It was build using html and css.</p>
            <a href="https://link-to-project1.com" target="_blank">View Project</a>
        </div>
         <div class="project-card">
            <h3>Instant polaroid camera.</h3>
            <p>It was also an assignment in my second semester to make a website. For this assignment project i build a project website about the camera using php. </p>
            <a href="https://link-to-project2.com" target="_blank">View Project</a>
        </div>
        <!-- Add more project cards as needed -->
    </div>
</section>
